<% @user ||= current_user %>
<div class="stats row">
  <a href="<%= following_user_path(@user) %>" class='stat pr-5'>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong> <br>
    <span class='font-f'>
    Following
    </span>
  </a>
  <a href="<%= followers_user_path(@user) %>" class='stat'>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <br>
    <span class='font-f'>
    Followers
    </span>
  </a>
</div>