<h4 class='text-dark border-bottom pb-3 pt-3'>Who to Follow</h4>
<div>
  <ul class="users menu-list">
    <% @users.each do |user| %>
      <% if !current_user.following?(user)%>
        <% if current_user != user %>
          <%= render user, class: 'user-name' %> <br>
          
          
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>