/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .blue-nav {
   background-color: #53a8e9;
   list-style-type: none;
 }

 .blue-menu {
  list-style-type: none;
 }

 .white-link {
   color: white;
   font-size: 1rem;
   font-family: Helvetica, sans-serif;
 }

 .bg-black {
   background-color: #213246;
 }

 .user-info {
   color: #b4c0cc;
 }

 .gravatar {
   object-fit: inherit;
   width: 50px;
 }

 .stat {
   color: #b4c0cc;
 }

 .stat-1 {
   color: gray;
 }

 .font-f {
   font-size: 0.85rem;
 }

 .field {
   width: 800px;
 }
 
 .user-name {
   color: black;
 }

 .cover {
   margin-left: -0.98rem;
 }

 .font-f1 {
   font-size: 1rem;
 }


 