<footer class="footer">
  <small>
    The RailsCapstoneRetwitter
    by Alejandro Toledo
  </small>
  <nav class=''>
    <ul class='d-flex flex-row'>
      <li class='mr-5'><%= link_to "About", about_path %></li>
      <li class='mr-5'><%= link_to "Contact", contact_path %></li>
      <li class='mr-5'><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>