<header class="d-block">
  <nav class='blue-nav pt-4 pl-2 pr-4 pb-3'>
    <ul class="d-flex menu-list">
      <li class='pr-4 c-white'><%= link_to "Home", root_path %></li>
      
      <% if logged_in? %>
        <li class='mr-5 pr-4 pl-4 c-white'><%= link_to "Users", users_path %></li>
        <li class='pr-4 pl-4 c-white'><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
    </ul>
  </nav>
</header>