<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class=''>
    <ul class="d-flex flex-row justify-content-end navbar-nav navbar-right">
      <li class='mr-4'><%= link_to "Home", root_path %></li>
      <li class='mr-4'><%= link_to "Help", help_path %></li>
      <li class='mr-4'><%= link_to "Log in", '#' %></li>
    </ul>
  </nav>
</header>